<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   		http://www.springframework.org/schema/beans/spring-beans.xsd
	   		http://www.springframework.org/schema/context
	   		http://www.springframework.org/schema/context/spring-context.xsd
	   		http://www.springframework.org/schema/tx 
			http://www.springframework.org/schema/tx/spring-tx.xsd
			http://www.springframework.org/schema/mvc 
			http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<bean id="AdminDAO"
		class="vn.struts.dao.impl.AdminDAOImpl">
		<property name="sessionFactory" ref="mysessionFactory" />
	</bean>
	<bean id="ProductDAO"
		class="vn.struts.dao.impl.ProductDAOImpl">
		<property name="sessionFactory" ref="mysessionFactory" />
	</bean>
	<bean id="CatalogDAO"
		class="vn.struts.dao.impl.CatalogDAOImpl">
		<property name="sessionFactory" ref="mysessionFactory" />
	</bean>
	<bean id="TransactionDAO"
		class="vn.struts.dao.impl.TransactionDAOImpl">
		<property name="sessionFactory" ref="mysessionFactory" />
	</bean>
	<bean id="OrderDAO"
		class="vn.struts.dao.impl.OrderDAOImpl">
		<property name="sessionFactory" ref="mysessionFactory" />
	</bean>
	

</beans>